In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
visa=pd.read_csv(r'C:\Users\user\Documents\naresh it 2\Desktop\naresh it\data files\visadataset_file.csv')
visa

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

**Standardization**
- standardization is a technqiue scale all the data under one scale
- different columns has different values also different units
- some column values has bigger values, some column values has lesser values
- so it is important to keeepall the values under one scale
- we have two method are ther
- standardization
   - standardization we have **z score**
   - z score varies values from -3to 3
    <img id="dimg_ScOMZ5POLouVseMP1q_riQU_189" src="" class="YQ4gaf" height="203" style="object-position:0% 20%" width="249" alt="What Is A Z-Score And How To Calculate ..." data-csiid="ScOMZ5POLouVseMP1q_riQU_43" data-atf="4">

- Normalization
   - minmax scaler
   - value range 0 to 1
   - <g-img style="max-height:133px;max-width:379px" class="mNsIhb"><img id="dimg_EcSMZ8zcHYCUseMPxvfnoQ0_11" src="" class="YQ4gaf" height="133" style="object-position:40% 50%" width="379" alt="How Min-Max Scaler Works. The math ..." data-csiid="EcSMZ8zcHYCUseMPxvfnoQ0_6" data-atf="1"></g-img>

**task**
- step 1: take prevailing wage column
- step 2 :calculate the mean value prevailing wage 
- step 3 :calculate the sd of prevailing wage 
- step 4 :calculator the numerator : step1 -step2
- step 5 :divide step 4 by step 3

In [14]:
visa=pd.read_csv(r'C:\Users\user\Documents\naresh it 2\Desktop\naresh it\data files\visadataset_file.csv')
mean=round((visa['prevailing_wage'].mean()),2)
std=round(visa['prevailing_wage'].std(),2)
nr=visa['prevailing_wage']-mean
visa['prevailing_wage_z']=nr/std
visa

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,-1.398510
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.169832
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.919061
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.169991
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1.428576
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.049924
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,3.876083
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,1.360253
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.221504
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,-0.067762

**task 2**
**compare the two values**
- get maximum and minimu values of the indeses
- both index shoulb be same

**idxmax- idxmin**

In [17]:
maxx=visa['prevailing_wage'].idxmax(),visa['prevailing_wage_z'].idxmax()
minn=visa['prevailing_wage'].idxmin(),visa['prevailing_wage_z'].idxmin()

maxx,minn

((21077, 21077), (20575, 20575))

In [18]:
max_val=visa['prevailing_wage'].max(),visa['prevailing_wage_z'].max()
min_val=visa['prevailing_wage'].min(),visa['prevailing_wage_z'].min()

max_val,min_val

((319210.27, 4.6341021290163535), (2.1367, -1.4096818744492665))

**StandardScalar**
- same as z score but  by using package
- it is under sklearn package
- under sklearn we have preprosessing
- read the pakage 
- save the pakage 
- apply fit transform
- compare 3 columns
     - one is original 
     - manually we did z score 
     - column with pakage

In [21]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
visa['prevailing_wage_p']=ss.fit_transform(visa['prevailing_wage'])

ValueError: Expected 2D array, got 1D array instead:
array=[   592.2029  83425.65   122996.86   ... 146298.85    86154.77
  70876.91  ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [27]:
# single square is nothing but series 
# double squale braket is dataframe
# in above we show reshape error 
# wherever u see reshape put double squaer braket
# to make series iinto dataframe
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
visa['prevailing_wage_p']=ss.fit_transform(visa[['prevailing_wage']])
visa

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z,prevailing_wage_p
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,-1.398510,-1.398537
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.169832,0.169835
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.919061,0.919079
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.169991,0.169994
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1.428576,1.428604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.049924,0.049924
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,3.876083,3.876159
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,1.360253,1.360280
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.221504,0.221509
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,-0.067762,-0.067763

**Normalization**
- read the data again
- step1 : take the wage column
- step 2 :calculate the min value prevailing wage 
- step 3 :calculate the max of prevailing wage 
- step 4 :calculator the numerator : visa['prevailing_wage']-min
- step 5 :denominator step3-step2
- step 6:  divide step 4/step5

 
**package name : minmaxScaler**

In [33]:
visa=pd.read_csv(r'C:\Users\user\Documents\naresh it 2\Desktop\naresh it\data files\visadataset_file.csv')
minn=round((visa['prevailing_wage'].min()),2)
maxx=round(visa['prevailing_wage'].max(),2)
nr=visa['prevailing_wage']-minn
dr=maxx-minn
visa['prevailing_wage_z']=nr/dr
visa[['prevailing_wage','prevailing_wage_z']]

       prevailing_wage  prevailing_wage_z
0             592.2029           0.001849
1           83425.6500           0.261345
2          122996.8600           0.385312
3           83434.0300           0.261371
4          149907.3900           0.469616
...                ...                ...
25475       77092.5700           0.241505
25476      279174.7900           0.874579
25477      146298.8500           0.458311
25478       86154.7700           0.269895
25479       70876.9100           0.222033

[25480 rows x 2 columns]

In [36]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
visa['prevailing_wage_max_min']=mms.fit_transform(visa[['prevailing_wage']])
visa[['prevailing_wage','prevailing_wage_z','prevailing_wage_max_min']]

       prevailing_wage  prevailing_wage_z  prevailing_wage_max_min
0             592.2029           0.001849                 0.001849
1           83425.6500           0.261345                 0.261345
2          122996.8600           0.385312                 0.385312
3           83434.0300           0.261371                 0.261371
4          149907.3900           0.469616                 0.469616
...                ...                ...                      ...
25475       77092.5700           0.241505                 0.241505
25476      279174.7900           0.874579                 0.874579
25477      146298.8500           0.458311                 0.458311
25478       86154.7700           0.269895                 0.269895
25479       70876.9100           0.222033                 0.222033

[25480 rows x 3 columns]